*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

.nav {
    position: relative;
    position: fixed;
    background: rgb(20, 35, 75);
    height: 80px;
    width: 100%;
    z-index: 3;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

label .logo-fort {
    color: red;
}

label .lien-logo {
    color: white;
}

nav ul {
    float: right;
    margin-right: 40px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 7px 15px;
    border-radius: 5px;
    transition: .3s;
}

a.active, nav a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.image-homePage {
    color: white;
    background: url("img/bg-homePage.jpg") no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

.welcome, .contact {
    text-align: center;
    padding: 150px 0 70px 0;
    line-height: 1;
}

.welcome-message, .contact-message {
    font-family: 'Pinyon Script', serif;
    color: #C89446;
    display: block;
    font-size: 5.2rem;
}

.welcome-name, .contact-name {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    padding-top: 10px;
    text-transform: uppercase;
    color: #1DA1F2;
}

.welcome-profession, .contact-like {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 20px;
    color: #4267B2;
}

/* ma photo de profil*/

.container {
    background: url("img/splash.png");
    max-width: 100%;
    height: auto;
}

.container .container-presentation {
    user-select: none;
    margin: 80px 20px 0 20px;
    background: #231e39;
    color: #b3b8cd;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .75);
}

.container .cover-photo {
    background: url("img/cover.jpg");
    height: 160px;
    width: auto;
    border-radius: 8px 8px 0 0;
}

.container .profile {
    height: 120px;
    width: 120px;
    border-radius: 50px;
    margin: 93px 0 0 -175px;
    padding: 7px;
    background: #292343;
}

.container .profile-name {
    font-size: 25px;
    font-weight: bold;
    margin: 27px 0 0 120px;
}

.container .about {
    margin-top: 35px;
    line-height: 21px;
}

.container-presentation button {
    margin: 10px 0 40px 0;
}

.container .msg-btn, .container .follow-btn {
    background: #03bfbc;
    border: 1px solid #03bfbc;
    padding: 10px 25px;
    color: #231e39;
    border-radius: 4px;
    font-family: sans-serif;
    cursor: pointer;
}

.container .follow-btn {
    margin-left: 10px;
    background: transparent;
    color: #02899c;
}

.container .follow-btn:hover {
    color: #231e39;
    background: #03bfbc;
    transition: .5s;
}

.container .container-presentation i {
    padding-left: 20px;
    font-size: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: .5s;
}

.container .container-presentation i:hover {
    color: #03bfbc;
}

.container .container-message {
    margin: 10px 20px 20px;
}

.container-message .message {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.container .message::before {
    content: "“";
    color: #C89446;
    font-size: 40px;
    width: 50px;
    margin-bottom: 0px;
}

.container .message::after {
    content: "”";
    color: #C89446;
    font-size: 40px;
    width: 50px;
    margin-bottom: 0px;
}

/* mise en forme pour la page de compétence */

.image-skills {
    color: white;
    background: url("img/bg-skillsPage.jpg") no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
}

span.skills-message {
    float: left;
    margin: -70px 0 0 45%;
    font-family: 'Pinyon Script', serif;
    color: #C89446;
    font-size: 2.2rem;
}

strong.skills-name {
    float: right;
    margin: 70px 44% 0 0;
    font-family: 'Pinyon Script', serif;
    font-size: 2rem;
}

.back-image-skills {
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    color: white;
}

.back-image-skills .information{
    text-align: center;
    font-weight: bold;
    padding-top: 20px;

} 
div.domaine {
    text-align: center;
    margin-top: 60px;
    font-family: 'Lobster';
    font-size: 2.2rem;
    font-weight: 700;
}

.block1 {
    margin-top: 10px;
    display: flex;
    margin-bottom: 120px;
    align-content: space-between;
    height: auto;
}

.block1 .container1 {
    flex-wrap: wrap;
    position: relative;
    display: flex;
    align-items: flex-start;
    width: auto;
    margin: 0 40px 0 40px;
    justify-content: space-around;
}

.container1 .card, .container1 .card2, .container1 .card3 {
    position: relative;
    margin-left: 10px;
    width: 250px;
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.container1 .card:hover, .container1 .card2:hover, .container1 .card3:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0, 0, 0, .5);
}

.container1.card::before, .container1.card2::before, .container1 .card3::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 90%;
    height: 100px;
    background: rgba(255, 255, 255, .3);
    pointer-events: none;
    z-index: 1;
}

.container1 .percent {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 2;
}

.percent .number {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2 {
    color: white;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}

.card:hover .percent .number h2, .card2:hover .percent .number h2, .card3:hover .percent .number h2 {
    color: white;
    font-size: 50px;
}

.percent .number h2 span {
    font-size: 24px;
    color: #777;
}

.card:hover .percent .number h2 span, .card2:hover .percent .number h2 span, .card3:hover .percent .number h2 span {
    color: white;
}

.text {
    position: relative;
    color: #777;
    margin-top: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}

.card:hover .text, .card2:hover .text, .card3:hover .text {
    color: #fff;
}

svg {
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 2;
}

svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
    stroke-dasharray: 440;
    stroke-dashoffset: 400;
}

/* langages*/

.card:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 90) / 100);
    stroke: #00ff43;
}

.card:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 70) / 100);
    stroke: #00a1ff;
}

.card:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 70) / 100);
    stroke: #00a1ff;
}

.card:nth-child(4) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 70) / 100);
    stroke: #00a1ff;
}

.card:nth-child(5) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 65) / 100);
    stroke: blue;
}

.card:nth-child(6) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 70) / 100);
    stroke: #00a1ff;
}

.card:nth-child(7) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 70) / 100);
    stroke: #00a1ff;
}

.card:nth-child(8) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 70) / 100);
    stroke: #00a1ff;
}

p.clean {
    clear: both;
}

/* SGBD*/

.card2:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 75) / 100);
    stroke: orange;
}

.card2:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 70) / 100);
    stroke: #00a1ff;
}

.card2:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 70) / 100);
    stroke: #00a1ff;
}

.card2:nth-child(4) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 60) / 100);
    stroke: #6200ff;
}

/* framwork / Libraries/ Bibliothèques*/

.card3:nth-child(1) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 70) / 100);
    stroke: #00a1ff;
}

.card3:nth-child(2) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 60) / 100);
    stroke: #6200ff
}

.card3:nth-child(3) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 50) / 100);
    stroke: #d400ff;
}

.card3:nth-child(4) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 60) / 100);
    stroke: #6200ff;
}

.card3:nth-child(5) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 55) / 100);
    stroke: #6200ff;
}

.card3:nth-child(6) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 70) / 100);
    stroke: #00a1ff;
}

.card3:nth-child(7) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 50) / 100);
    stroke: #ffd900;
}

.card3:nth-child(8) svg circle:nth-child(2) {
    stroke-dashoffset: calc(400 - (400 * 55) / 100);
    stroke: #00a1ff;
}

/* message de bienvenue sur mon site*/

.center {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, 0.5) 98.24%, rgba(28, 28, 28, .1)), url("img/sniper.jpg") center center / cover no-repeat;
    color: #FFF;
    height: 500px;
    margin: 50px 20px;
}

.center-message {
    align-items: center;
    text-align: center;
    color: white;
}

.center-message h2 {
    padding: 60px 0 0 0;
}

.center-message p {
    margin-top: 20px;
}

.plateforme .first, .plateforme .last {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
}

.facebook, .youtube, .instagram, .linkedin {
    height: 100px;
    width: 100px;
}

/* page de contact*/

.image-contactPage {
    margin-top: 60px;
    background: url("img/contact.jpg") center center / cover no-repeat;
    color: #FFF;
    height: calc(100vh - 200px);
}

/* page concernant le loisir*/

.center {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.92), rgba(54, 54, 54, 0.5) 98.24%, rgba(28, 28, 28, .1)), url("img/printemps.jpg") center center / cover no-repeat;
    color: #FFF;
    height: 500px;
    margin: 50px 20px;
}

.image-hobbiesPage {
    background: url("img/hobbies.jpg") center center / cover no-repeat;
    color: #FFF;
    height: calc(100vh - 80px);
}

.hobbies-session {
    padding-top: 20px;
}

.hobbies-session .container-small {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 960px;
}

.hobbies-session .block {
    margin-bottom: 50px;
    font-weight: 500;
    margin-top: 80px;
}

.hobbies-session .title {
    font-size: 2rem;
    line-height: 1.1;
    letter-spacing: 2px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0 0 0;
    color: blue;
}

.block-body p {
    font-family: 'Oleo Script', cursive;
    font-weight: 200;
    font-size: 20px;
}

.hobbies-session .block-img {
    max-width: 350px;
    margin: 0 auto;
    border: solid 1px #C89446;
}

.hobbies-session .block-img img {
    position: relative;
    z-index: 1;
}

/* page concernant l'experience */

.image-experiencePage {
    background: url("img/experience.jpg") center center / cover no-repeat;
    color: #FFF;
    height: calc(100vh - 70px);
}

.experience, .contact {
    text-align: center;
    padding: 150px 0 70px 0;
    line-height: 1;
}

.experience-message, .contact-message {
    font-family: 'Pinyon Script', serif;
    color: #C89446;
    display: block;
    font-size: 4.2rem;
    margin-right: 90px;
}

.realisation {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    margin-top: 80px;
    font-family: 'Lobster', cursive;
    font-size: 70px;
    color: #C89446;
}

.realisation .realisation-r {
    color: #000;
}

.container-block {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: consolas;
    background: url("img/experiences.png") center center / cover no-repeat;
    height: 100%;
}

.container-experience {
    flex-wrap: wrap;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
    width: 1000px;
}

.container-experience .card {
    position: relative;
}

.container-experience .card .face {
    width: 300px;
    height: 300px;
    transition: .5s;
}

.container-experience .card .face.face1 {
    position: relative;
    background: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container-experience .card:hover .face.face1 {
    background: #ff0057;
    transform: translateY(0);
}

.container-experience .card .face.face1 .content {
    opacity: .2;
    transition: .5s;
}

.container-experience .card:hover .face.face1 .content {
    opacity: 1;
}

.container-experience .img-height {
    height: 200px;
    width: 200px;
}

.container-experience .card:hover .face.face1 .content img.img-height {
    max-width: 100px;
    max-height: 100px;
}

.container-experience .card:hover .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    font-size: 1rem;
}

.container-experience .card .face.face2 {
    position: relative;
    background: #fff;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container-experience .card:hover .face.face2 {
    transform: translateY(0);
}

.container-experience .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    font-family: 'Lobster', cursive;
    color: #0082e6;
}

.container-experience .card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    border: none;
    padding: 6px 0 6px 0;
    border-radius: 30%;
    border-bottom: 7px solid #4753f3;
    font: bold 13px Arial;
    color: #fff;
    background: #C89446;
    box-shadow: 2px 2px 3px #999;
    border-top: 2px solid #59cd27;
}

.container-experience .card .face.face2 .content a:hover {
    background: #478bf9;
    color: #fff;
}

/*information dans le formulaire de contact*/

.container-form {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)), url(img/image-contact.jpg) center center / cover no-repeat;
    height: calc(100vh - 80px);
    padding-top: 70px;
    margin: 120px 100px 120px 100px;
}

.contact-form i.fa {
    font-size: 22px;
    padding: 3%;
    border-radius: 80%;
    margin: 3%;
    cursor: pointer;
    border: 2px solid rgb(190, 190, 190);
    color: rgb(190, 190, 190);
}

.contact-form i.fa:hover {
    cursor: pointer;
    border: 2px solid white;
    color: white;
}

.contact-form {
    display: grid;
    grid-template-columns: auto auto;
}

.form-info {
    font-size: 16px;
    font-size: 1rem;
    color: white;
    letter-spacing: 2px;
}

.boostrap {
    margin-top: 20px;
}

.boostrap .boostrap1 {
    text-align: center;
    align-items: center;
    color: red;
    font-size: 20px;
    font-weight: 300;
}

.boostrap .boostrap2 {
    text-align: center;
    align-items: center;
    color: chartreuse;
    font-size: 20px;
    font-weight: 300;
}

.contact-form input {
    padding: 10px;
    margin: 10px;
    width: 80%;
    background-color: rgba(136, 133, 133, 0.5);
    color: white;
    border: none;
    outline: none;
}

.contact-form input::placeholder {
    color: white;
}

.contact-form textarea {
    padding: 10px;
    margin: 10px;
    width: 80%;
    background-color: rgba(136, 133, 133, 0.5);
    color: white;
    border: none;
    outline: none;
}

.contact-form textarea::placeholder {
    color: white;
}

.contact-form .submit {
    text-align: center;
    margin-left: 20%;
    width: 40%;
    padding: 10px;
    background: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: 2px solid #15f4ee;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    border-radius: 10%;
    transition: 1.5s;
}

.contact-form .submit:hover {
    box-shadow: 0 5px 10px 0 #15f4ee inset, 0 5px 10px 0 #15f4ee, 0 5px 10px 0 #15f4ee inset, 0 5px 10px 0 #15f4ee;
    text-shadow: 0 0 5px #15f4ee, 0 0 5px #15f4ee;
}

/* partie pour les reseaux sociaux*/

.reseau-social {
    width: 70px;
    margin-top: 180px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .4);
    background-attachment: local, scroll;
    margin-bottom: 100px;
}

.reseau-social li {
    position: relative;
    height: 60px;
}

.reseau-social li a {
    display: block;
    color: white;
    width: 100%;
    height: 100%;
    line-height: 50px;
    padding-left: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    transition: all .3s linear;
}

.reseau-social li a i {
    position: absolute;
    top: 17px;
    left: 20px;
    font-size: 27px;
}

.reseau-social li a span {
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: none;
}

.reseau-social li:nth-child(1) a {
    background: #4267B2;
}

.reseau-social li:nth-child(2) a {
    background: #1DA1F2;
}

.reseau-social li:nth-child(3) a {
    background: #E1306C;
}

.reseau-social li:nth-child(4) a {
    background: #2867B2;
}

.reseau-social li:nth-child(5) a {
    background: #333;
}

.reseau-social li:nth-child(6) a {
    background: #ff0000;
}

.reseau-social a:hover {
    width: 200px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
}

.reseau-social ul li:hover a span {
    padding-left: 30%;
    display: block;
}

/* footer*/

.footer {
    background: #383838 bottom right no-repeat;
    font-weight: 300;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.container-footer {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1150px;
}

.footer-columns {
    justify-content: space-between;
    padding-left: 40px;
}

.footer-title {
    color: #C89446;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.footer-column {
    margin-bottom: 20px;
}

.footer-column:first-child {
    flex-wrap: wrap;
}

.footer-credits span {
    font-family: 'Pinyon Script', serif;
    color: #C89446;
    font-size: 30px;
}

.footer-column li.MYtime {
    font-size: 30px;
    border: 2px solid #ccc;
    padding: 5px 5px;
    color: #00ff43;
    font-weight: 400;
    margin-top: 10px;
}

.footer-text {
    font-family: 'Lobster', cursive;
    font-weight: 200;
    letter-spacing: .1em;
}

/* ma presentation*/

@media only screen and (min-width: 650px) {
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .container .container-presentation {
        width: 350px;
        margin-left: 100px;
    }
    .container .container-message {
        width: calc(100% - 500px);
        margin-right: 0;
        margin: 100px 40px 80px 20px;
    }
}

@media screen and (min-width: 700px) {
    /* traitement de la page de compétence*/
    .container1 .card {
        margin-left: 2px;
        margin-top: 2px;
    }
    /* traitement pour bien venu sur mon site personnel*/
    .center {
        height: 100%;
        margin: 50px 120px;
    }
    .plateforme .first, .plateforme .last {
        margin: 50px 120px 50px 120px;
    }
    .plateforme .last {
        padding-bottom: 50px;
    }
}

/* le footer*/

@media only screen and (min-width: 800px) {
    /*traitement de la page de loisir*/
    .hobbies-session .block {
        margin-bottom: 100px;
    }
    .hobbies-session .block-left, .block-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hobbies-session .block-img {
        border: none;
        position: relative;
    }
    .hobbies-session .block-left .block-body, .hobbies-session .block-right .block-body {
        width: 445px;
        flex: none;
    }
    .hobbies-session .block-img::before {
        content: '';
        display: block;
        border: solid 1px #C89446;
        position: absolute;
        top: -30px;
        left: -30px;
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    .hobbies-session .block-right .block-img::before {
        left: auto;
        right: -30px;
    }
    .hobbies-session .block-left .block-img {
        margin-left: 30px;
    }
    .hobbies-session .block-right .block-img {
        margin-right: 30px;
    }
    .hobbies-session .block-left .block-body {
        margin-left: 20px;
    }
    .hobbies-session .block-right .block-body {
        margin-right: 20px;
        order: -1;
    }
    .hobbies-session .title {
        margin-bottom: 1.2rem;
    }
    .hobbies-session .title::before {
        margin-bottom: 10px;
    }
    /* le footer*/
    .footer {
        background-image: url(img/splash.png);
    }
    .footer-columns {
        display: flex;
        justify-content: space-between;
    }
    .footer-column {
        width: 200px;
        /*margin-right: 20px;*/
    }
    .footer-column:first-child {
        width: 400px;
    }
    .footer-column:last-child {
        margin-right: 0;
        flex: none;
    }
    .footer a {
        text-decoration: none;
        color: inherit;
    }
    .footer a:hover {
        color: #C89446;
    }
    .footer-credits {
        font-size: 0.93em;
        padding-top: 50px;
    }
    .footer-credits span {
        font-weight: bold;
    }
}

@media screen and (max-width: 952px) {
    nav.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 858px) {
    .container-block {
        margin: 20px;
    }
    .container-experience {
        display: block;
        align-items: center;
        justify-content: center;
    }
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    nav a:hover, a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked~ul {
        left: 0;
    }
    .container-form {
        height: 100%;
    }
    .contact-session .contact-form {
        display: block;
        width: 100%;
        text-align: center;
    }
    .contact-form i.fa {
        margin: 5px;
        padding: 5px;
    }
    .contact-session .submit {
        width: 60%;
    }
}